<div class="row m-t-10">
  <div class="col-md-12 m-t-10">
    <h2>List of portfolios</h2>
  </div>
</div>
<div class="row text-center m-t-30" [hidden]="cargado">
  <div class="col-md-12"><p>Cargando</p><p><fa name="spinner" animation="spin" size="3x"></fa></p></div>
</div>
<div [hidden]="!cargado">
  <div class="row m-t-10" [hidden]="!mostrarEditar">
    <div class="col-md-10"></div>
    <div class="col-md-2 text-right p-l-0">
        <button type="button" class="btn btn-success btn-block btn-sm m-r-10" (click)="editarPortfolio(null)">Crear</button>
    </div>
  </div>
  <div class="clear m-t-20"></div>
  <div *ngFor="let portfolio of portfolios" [hidden]="!mostrarEditar">
    <div class="row m-t-10">
      <div class="col-md-1"><p>{{portfolio.id}}</p></div>
      <div class="col-md-9">
        <p (click)="desplegarDetalle(portfolio)">
          {{portfolio.name}}
          <span *ngIf="portfolio.mostrar"><fa name="angle-down" size="lg"></fa></span>
          <span *ngIf="!portfolio.mostrar"><fa name="angle-up" size="lg"></fa></span>
        </p>
      </div>
      <div class="col-md-1 text-right p-l-0">
        <button type="button" class="btn btn-primary btn-block btn-sm m-r-10" (click)="editarPortfolio(portfolio)">Editar</button>
      </div>
      <div class="col-md-1 text-right p-l-0">
        <button type="button" class="btn btn-default btn-block btn-sm" (click)="eliminarPortfolio(portfolio)">Delete</button>
      </div>
    </div>
    <div class="row m-t-10" [hidden]="portfolio.mostrar">
      <div class="col-md-1"><p class="p-l-50">Id</p></div>
      <div class="col-md-2"><p class="p-l-50">Coin</p></div>
      <div class="col-md-5"><p class="p-l-50">Name</p></div>
      <div class="col-md-2 text-right"><p class="p-l-50">Amount</p></div>
      <div class="col-md-2"></div>
    </div>
    <div class="row" *ngFor="let line of portfolio.lineas" [hidden]="portfolio.mostrar">
      <div class="col-md-1"><p class="p-l-50">{{line.id}}</p></div>
      <div class="col-md-2"><p class="p-l-50">{{line.currency}}</p></div>
      <div class="col-md-5"><p class="p-l-50">{{line.currencyName}}</p></div>
      <div class="col-md-2 text-right"><p class="p-l-50">{{line.amount | number:'1.2'}}</p></div>
      <div class="col-md-2">
        <button type="button" class="btn btn-link btn-sm m-r-10" (click)="editarPortfolio(portfolio)"><fa name="edit" size="lg"></fa></button>
        <button type="button" class="btn btn-link btn-sm" (click)="eliminarPortfolio(portfolio)"><fa name="trash" size="lg"></fa></button>
      </div>
    </div>
  </div>
  <form #portfolioForm="ngForm" (ngSubmit)="aceptarEditar(portfolioForm); portfolioForm.reset();">
    <div class="row m-t-10" [hidden]="mostrarEditar">
      <div class="col-md-12">
        <div class="form-group required">
          <label for="name" class="control-label">Name:</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="portflo.name" name="name" #name="ngModel" required>
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">El nombre no puede estar vacío.</div>
        </div>
      </div>
      <div class="col-md-12 text-right">
        <button type="submit" class="btn btn-success m-r-10" [disabled]="!portfolioForm.form.valid">Aceptar</button>
        <button type="button" class="btn btn-danger" (click)="cancelarEditar(); portfolioForm.reset();">Cancelar</button>
      </div>  
    </div>
  </form>
</div>
