<div class="row">
  <div class="col-md-6">
    <div class="row" *ngFor="let currency of currencies">
      <div class="col-md-1">
        {{currency.acronym}}
      </div>
      <div class="col-md-5">
        {{currency.name}}
      </div>
      <div class="col-md-3">
        <button>Delete</button>
      </div>
      <div class="col-md-3">
        <button>Edit</button>
      </div>
    </div>
  </div>
  <div class="col-md-6" [hidden]="ocultarDetalle">
    <div class="row">
      <div class="col-md-6">
        <input type="text" />
      </div>
      <div class="col-md-6">
        <input type="text" />
      </div>
    </div>
  </div>
</div>
