<div class="row m-t-10">
  <div class="col-md-12 m-t-10">
    <h2>List of cryptocurrencies</h2>
  </div>
</div>
<div *ngFor="let currency of currencies" [hidden]="!mostrarEditar">
  <div class="row m-t-10">
    <div class="col-md-1"><p class="p-l-30">{{currency.id}}</p></div>
    <div class="col-md-1"><p>{{currency.acronym}}</p></div>
    <div class="col-md-8"><p>{{currency.name}}</p></div>
    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-sm m-r-10" (click)="editarCurrency(currency)">Editar</button>
      <button type="button" class="btn btn-default btn-sm" (click)="eliminarCurrency(currency)">Delete</button>
    </div>
  </div>
</div>
<div class="row m-t-10" [hidden]="mostrarEditar">
  <div class="col-md-6">
    <div class="form-group required">
      <label for="acronimo" class="control-label">Acrónimo:</label>
      <input type="text" class="form-control" id="acronimo" [(ngModel)]="acronimo" name="acronimo" #nombreText="ngModel" required>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group required">
      <label for="nombre" class="control-label">Nombre:</label>
      <input type="text" class="form-control" id="nombre" [(ngModel)]="nombre" name="nombre" #nombreText="ngModel" required>
    </div>
  </div>
  <div class="col-md-12 text-right">
    <button type="button" class="btn btn-success m-r-10" (click)="aceptarEditar()">Aceptar</button>
    <button type="button" class="btn btn-danger" (click)="cancelarEditar()">Cancelar</button>
  </div>
</div>
