/* You can add global styles to this file, and also import other style files */
.m-t-10{
    margin-top: 10px;
}

.m-t-20{
    margin-top: 15px;
}

.m-r-10 {
    margin-right: 10px;
}

.m-l-10 {
    padding-left: 10px;
}

.p-l-30{
    margin-left: 30px;
}

.p-l-50{
    margin-left: 50px;
}

.p-l-0 {
    padding-left: 0px !important;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
